<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quantum time</title>
</head>
<body>
<h1>In quantum space you were absent for <%= year%> years, <%= month%> months,
    <%= day%> days.</h1>
<h2>
    <a href="http://localhost:8000/normal_time">NORMAL TIME</a><br>
    <a href="http://localhost:8000/">HOME</a>
</h2>
</body>
</html>